<%=form_with model: @user do |form| %> 
 <% @user.errors.full_messages.each do |msg| %>
        <ul>
            <li><%=msg%></li>
        </ul>
    <%end%>
    <%= form.label(:username, 'Username:')%>
    <%= form.text_field(:username)%><br><br>
    <%= form.label(:password, 'Password:')%>
    <%= form.text_field(:password)%><br><br>
    <%= form.label(:email, 'Email:')%>
    <%= form.text_field(:email, value: "example@example.com")%><br><br>
    <%= form.submit("Submit") %>
<% end %>

